.wrap {
    /* display:flex; */
    /* flex-direction:column; */
    min-height:100vh;

    /* background-image:url('/images/ui/dugout_login.png');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat; */
}

.main{
    max-width:900px;
    margin:0 auto;
    padding:40px 20px;
}

.title{
    text-align:center;
    font-size:21px;
    font-weight:700;
    margin-bottom:20px;
}

.grid{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(220px,1fr));
    gap:16px;
}

.gameCard{
    display:flex;
    flex-direction:column;
    gap:10px;
    padding:20px;
    border-radius:14px;
    border:1px solid #ddd;
    color:#111;
    background: #fff;
    text-align: center;
    transition:.2s;
}

.gameCard:hover{
    background-color: #333;
    color: #fff;
}

.gameDate{
    font-size:19px;
    font-weight:700;
}

.gameTitle{
    font-size:13px;
    color:#666;
}